.header, .container{
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 60px;
    background: linear-gradient(to left, #aa4b6b, #3b8d99);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text; 
}

.inputField {
    padding: 10px;
    width: 40%;
    border: none;
}

.btn{
    padding: 10px;
    background: #3b8d99;
    border: none;
}

body{
    background-image: url(https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-color: #368d99;
}

.toDoAdded{
    background: #ae5f75;
    list-style: none;
    height: 60px;
    width: 40%;
    text-align: center;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid #cdc7be;
}

.toDoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toDoCompleted{
    background: #8fd9a8;
    font-weight: bold;
    color: black;
    text-decoration: line-through;
    transition: all 1s ease;
}